*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: #202020;
  color: #ccc;
  font-size: 16px;
}

/*** Title Section ***/

.title-container {
  text-align: center;
  margin: 2rem 0rem;
}

.title {
  font-size: 2rem;
}

/*** Options Section ***/

.options-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  padding: 0.2rem;
  margin: 2rem 0;
  color: #ccc;
  background-color: #202020;
  border: 0.1rem solid #ccc;
}

.name::placeholder {
  color: #ccc;
}

.start {
  padding: 0.1rem 1rem;
  border-radius: 0;
  color: #ccc;
  background-color: #202020;
  border: 0.1rem solid #ccc;
  transition: color 0.3s, border 0.3s, background-color 0.3s;
}

.start:hover {
  color: #202020;
  background-color: #ccc;
}

.start:active {
  transform: scale(0.92);
}

/*** Score Section ***/

.score-container {
  font-size: 1.5rem;
  margin: 3rem auto;
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
}

.score-title {
  text-decoration: underline;
  margin-bottom: 1rem;
}

.player-score {
  text-align: center;
  margin-right: 2rem;
}

.computer-score {
  text-align: center;
  margin-left: 2rem;
}

/*** Selection Section ***/

.selection-container {
  margin: auto;
  width: 25rem;
  display: flex;
  justify-content: space-between;
}

.rps-btn {
  padding: 0.5rem 2rem;
  color: #ccc;
  background-color: #202020;
  border: 0.1rem solid #ccc;
  transition: color 0.3s, background-color 0.3s;
}

.rps-btn:hover {
  color: #202020;
  background-color: #ccc;
}

.rps-btn:active {
  transform: scale(0.92);
}
